{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "tui",
        "cli",
        "core",
        "config",
        "pure"
      ]
    ]
  }
}
