{
  "branches": [
    {
      "name": "main"
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "refactor",
              "section": "Code Refactoring",
              "hidden": false
            },
            {
              "type": "improvement",
              "section": "Improvement",
              "hidden": false
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "revert",
              "section": "Reverts"
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": false
            },
            {
              "type": "test",
              "section": "Tests",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Documentation",
              "hidden": false
            },
            {
              "type": "build",
              "section": "Build System",
              "hidden": false
            },
            {
              "type": "ci",
              "section": "Continuous Integration",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Miscellaneous Chores",
              "hidden": true
            }
          ]
        }
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "package-lock.json"],
        "message": "chore(release): ${nextRelease.gitTag} [skip ci] \n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
